@model Data.ProcesoProveedor
<div class="container">
    <div class="row">
        <div class="col">
            <label class="form-label">Precio Total:</label>
            <input type="text" class="form-control" id="txtPrecioTotal" value="@Model.PrecioTotal" disabled="disabled" />
        </div>
    </div>
    <div class="row">
        <div class="col col-md-4">
            <div id="divBotonFactura" class="col">
            </div>
        </div>
    </div>
</div>
