@*
    VISTA VENTAS


*@
<div class="modal fade" id="ModalDetalleProceso" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registro Venta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="divDetalleProceso">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                @*<button type="button" id="btnAgregarServicio" class="btn btn-success" onclick="GuardarVenta()">Agregar</button>*@
                <button type="button" id="btnAgregarServicio" class="btn btn-success" onclick="RegistrarProcesoProveedor()">Agregar</button>
            </div>
        </div>
    </div>
</div>
<h1>Detalle Proceso Proveedor</h1>
<hr />
<a class="btn btn-info text-white" onclick="DetalleProcesoProveedor(0)">Agregar Proceso</a>
<br />




<div class="modal fade" id="ModalProcesoProveedor" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Creación Factura</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="divProcesoProveedor">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                @*<button type="button" id="btnAgregarServicio" class="btn btn-success" onclick="GuardarVenta()">Agregar</button>*@
                <button type="button" id="btnAgregarServicio" class="btn btn-success" onclick="GuardarProcesoProveedor()">Registrar Proceso</button>
            </div>
        </div>
    </div>
</div>

<div class="row table-responsive" style="padding:30px;">
    <table class="table table-striped table-bordered" style="text-align:center;" id="tblProveedorDinamico">
        <thead>
            <tr>
                <th style="display:none" scope="col">Id</th>
                <th style="display:none" scope="col">Id</th>
                <th style="display:none" scope="col">Id</th>
                <th scope="col">Id</th>
                <th scope="col">TipoProceso</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col"> </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<hr />
<a class="btn btn-info text-white" onclick="ProcesoProveedor(0)">Guardar Proceso</a>
<br />



<datalist id="ProcesoList">
    @foreach (var item in ViewBag.tipoProcesoProveedor)
    {
        <option value="@item.Id | @item.Descripcion">@item.Id - @item.Descripcion</option>
    }
</datalist>
<script src="~/js/Servicio.js"></script>

@*

    VISTA FACTURA


*@

<div class="modal fade" id="ModalMostrarProceso" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalle Factura</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="divMostrarProceso">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                @*<button type="button" id="btnAgregarServicio" class="btn btn-success" onclick="GuardarVenta()">Agregar</button>*@
                @*<button type="button" id="btnAgregarServicio" class="btn btn-success" onclick="RegistrarVenta()">Agregar</button>*@
            </div>
        </div>
    </div>
</div>
<div id="divListaProcesoProveedor">
</div>
<script src="~/js/Servicio.js"></script>
